#btn__mobile {
  display: none;
}

@media (max-width: 400px) {
  .header {
    flex-direction: row;
  }

  .header__menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.6s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }

  .header__menu a {
    margin: 5px 0;
  }
  #nav.active .header__menu {
    height: calc(80vh - 60px);
    border-radius: 0px 0px 4px 4px;
    visibility: visible;
    overflow-y: auto;
  }

  #btn__mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer {
    display: block;
    color: var(--btn);
    border-top: 2px solid;
    width: 20px;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
